<style>
  .main{
    color:darkred;
  }

  .view{
    height: 450px;
    width: 1100px;
  }

   .home-head{
    text-align: right;
  }

  .home-title{
    text-align: center;
  } 

</style>

<div class="main">

  <div class="">  
    <div class="home-title">
      <div class="col-md-12">
        <h1 class="display-2">Boulder Bike Tour</h1>
      </div>
    </div> 
    <div class="home-head">
        <h3 class="">An exciting, prestigious and inspiring bike</h3>
        <h3 class="">At the foot of the Rocky mountain, Colorado</h3>
    </div>
  </div>

  <div class="">      
    <p class="text-center">
      This once in a decade race is getting closer. Introducing an extra special event we want you
      to get involve. Between now and 6 months from the event April 1, 2020, we are are sponsoring
      you to come up with a slogan for the race. What a brilliant opportunity for you to be part of
      this exciting, prestigious and insipring bike race! So get involve now!
    </p>
  </div>




  </div>

 