<style>
  .main{
    color:red;
  }


</style>


<div class="container">  
  
  <div class="row float-right">
    <div class="shadow">
      <h3 class="">An exciting, prestigious and inspiring bike</h3>
      <h3 class="">At the foot of the Rocky mountain, Colorado</h3>
    </div>
  </div>
  
  <div class="row col-md-12 text-center shadow">
    <div class="col-md-12">
      <h1 class="display-2">Boulder Bike Tour</h1>
    </div>
  </div> 

</div>

<div class="container">


</div>
