/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 #demo{
   column-count: 3;
 }

 body {
  //  background-image: url("bg1.jpg");
  //   min-height: 500px;
    background-color: #D5DBDB;
  }

  .formPicture{
    padding:0;
    width: 485px;
  }

  #error_explanation {
    color: darkred;
  }

  .contest {
    color: darkred;
    text-align: center;
  }

  .enter a {
    background-color: #D5DBDB;
    color: darkred;
  }

  .contest-image {
    height: 600px;
    width: 850px;
  }

  .mobileWriting {
    display: none;
  }
  
  .mobileEnter {
    display: none;
  }

@media only screen and (max-width: 450px) {
  .contest h1{
    font-size: 40px;
  }

  .contest-image {
    height: auto;
    width: 100%;
  }

  .contest-h1 {
    display: none;
  }

  .writing {
    display: none; 
  }

  .enter {
    display: none;
  }

  .mobileWriting {
  display: flex;
  padding: 20px;
}

  .mobileEnter {
    display: flex;
    background-color: #D5DBDB;
    color: darkred;
  }

  .mobileEnter a {
    display: flex;
    background-color: #D5DBDB;
    color: darkred;
    margin-top: -25px;
  }
}

  .contest-h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .writing {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(8, 8, 8, 0.61);
    color: rgba(255, 255, 255, 0.897);
  }

  .back a{
    background-color: #D5DBDB;
    color: darkred;
  }

  ul {
    text-align: center;
  }

  li {
    display: inline;
    padding: 40px;
    margin: 10px;
  }

  // .header, a {
  //   font-size: 2.0rem;
  //   font-weight: 300;
  //   background-color: black;
  //   color: white;
  // }
  
  .countdownText {
    text-align: center;
    color: darkred;
  }

  #countdown {
    background-color: #D5DBDB;
    padding-left: 6px;
  }

  footer {
    background-color: black;
    color: white;
  }

  .main{
    color:darkred;
  }

  .view{
    height: 450px;
    width: 1100px;
  }

   .home-head{
    text-align: right;
  }

  .home-title{
    text-align: center;
  }
  
  .homeslide-image {
    height: 600px;
    width: 1150px;
  }

  .carousel-indicators li{
    padding: 3px;
    width: 100px;
    height: 1px;
  }
  
  .ridersText{
    color: darkred;
  }

  .table{
    color: darkred;
  }